resource "aws_instance" "{{ .Name }}" {
  ami = "{{ .AMI }}"
  instance_type = "{{ .Size }}"
  key_name = "hpcfl2"
  tags = {
    Name = "{{ .Name }}"
  }
  vpc_security_group_ids = ["${aws_security_group.hpcfl_compute.id}"]
  subnet_id = "${aws_subnet.hpcfl_subnet.id}"
  private_ip = "{{ .IP }}"
}

output "{{ .Name }}" {
  value = {"nodeName":aws_instance.{{ .Name }}.tags.Name, "privateIP":aws_instance.{{ .Name }}.private_ip}
}
